---
- name: wireguard
  hosts: all
  become: true
  tasks:
      - name: Install wireguard
        block:
            - name: Verify installation
              assert:
                  that:
                      - ansible_distribution == 'Debian'
                      - ansible_architecture == 'x86_64'
            - name: Install kernel from backports
              apt:
                  name: linux-image-amd64
                  default_release: '{{ ansible_distribution_release }}-backports'
            - name: Install wireguard tools
              apt:
                  name: wireguard-tools
            - name: sysctl ip forwarding
              lineinfile:
                  path: /etc/sysctl.conf
                  line: 'net.ipv4.ip_forward=1'
                  regexp: '#net\.ipv4\.ip_forward=1'
            - name: Check for reboot-required
              stat:
                  path: /run/reboot-required
              register: reboot_required
            - name: Reboot if required
              reboot:
              when: reboot_required.stat.exists
      - name: Server keys
        block:
            - name: Create wireguard config path
              file:
                  path: /etc/wireguard
                  state: directory
                  mode: 0700
            - name: Create wireguard private key
              shell:
                  cmd: umask 0077 && wg genkey >/etc/wireguard/priv.key
                  creates: /etc/wireguard/priv.key
            - name: Create wireguard public key
              shell:
                  cmd: </etc/wireguard/priv.key wg pubkey >/etc/wireguard/pub.key
                  creates: /etc/wireguard/pub.key
            - name: Register private key
              command: cat /etc/wireguard/priv.key
              register: server_private_key
            - name: Register public key
              command: cat /etc/wireguard/pub.key
              register: server_public_key
            - name: Create wireguard shared key
              shell:
                  cmd: umask 0077 && wg genpsk >/etc/wireguard/shared.key
                  creates: /etc/wireguard/shared.key
            - name: Register shared key
              command: cat /etc/wireguard/shared.key
              register: shared_key
      - name: Client keys
        delegate_to: localhost
        become: false
        block:
            - name: Create wireguard config path
              file:
                  path: wireguard
                  state: directory
                  mode: 0700
            - name: Create wireguard private key
              shell:
                  cmd: umask 0077 && wg genkey >wireguard/priv.key
                  creates: wireguard/priv.key
            - name: Create wireguard public key
              shell:
                  cmd: <wireguard/priv.key wg pubkey >wireguard/pub.key
                  creates: wireguard/pub.key
            - name: Register private key
              command: cat wireguard/priv.key
              register: client_private_key
            - name: Register public key
              command: cat wireguard/pub.key
              register: client_public_key
      - name: Wireguard configuration
        vars:
            server_endpoint: 10.1.0.1
            client_endpoint: 10.1.0.2
        block:
            - name: Client configuration
              delegate_to: localhost
              become: false
              template:
                  src: wg-client.conf
                  dest: wireguard/wg0.conf
                  mode: 0600
            - name: Server configuration
              template:
                  src: wg-server.conf
                  dest: /etc/wireguard/wg0.conf
                  mode: 0600
              register: server_config
      - name: Start wireguard
        service:
            name: wg-quick@wg0
            state: '{{ "restarted" if server_config.changed else "started" }}'
            enabled: true
